[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/application"]
	path = cookbooks/application
	url = https://github.com/opscode-cookbooks/application
[submodule "cookbooks/application_php"]
	path = cookbooks/application_php
	url = https://github.com/opscode-cookbooks/application_php
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql
